In [34]:
type(x)

NameError: name 'x' is not defined

In [1]:
name = 'Brenda'

In [3]:
type(name)

str

### Logical operators
They include
- And
- Or
- not
### Comparison operators
For example
- equals to==
- not equal to
- greater than>
- less than<
- greater thab or equals to >= 
- less than or equals to <=

#### Control Flows
1. Conditional statements
- if  -two conditions
- elif -multiple conditions
- else -multiple conditions

### LOOPS
- For Loops ..iterates through every element in a given data structure
- While loops.. only when the condition remains true

### list comprehensions
easier way of creating list of loops

In [4]:
multiply1= multiply(10,11,12)
print(multiply1)

1320

In [3]:
# Define a function that multiplies numbers
def multiply(a, b, c):
    return a * b * c

multiply1 = multiply(10, 11, 12)
print(multiply1)

1320

### Lambda functions

In [5]:
product = lambda x,y,z:x*y*z

In [6]:
product1 =product(12,23,32)
product1

8832

In [7]:
salamu= lambda name : f'jambo,{name}'

In [8]:
greet=salamu('brenda')
greet

'jambo,brenda'

write  a function that checks if a number is even or odd

## Data structures
- sets
- dictionaries
- list
- tuples

1. Lists

- are ordered and mutable (can be changed)
- denoted using[]

2. Tuples

- Cannot be changed(immutable)
- Ordered like a list
- denoted using()

3. Sets
- they are unordered
- use {} brackets
- do not allow duplicates values
- methods: intersection, union

4. Dictionaries
- the key pair value
- mutable-add elements to our dictionaries
- denoted using {}

In [9]:
fruits = ['apple','banana','cherry']
fruits.append('oranges')
fruits

['apple', 'banana', 'cherry', 'oranges']

In [10]:
fruits.pop()

'oranges'

In [11]:
fruits

['apple', 'banana', 'cherry']

Tuples

In [12]:
image_pixels=(1920,1080)
image_pixels.count(1920)

1

In [ ]:
image_pixels.index(1080)

1

Sets

In [14]:
set1= {5,7,6,8,4}
set2={1,2,3,4,9}

In [15]:
set3=set1.intersection(set2)
set3

{4}

In [16]:
set4=set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

dictionaries

In [17]:
person={
    'name':'Brenda',
    'age':'28',
    'fruit':'avocado'


}

In [18]:
person

{'name': 'Brenda', 'age': '28', 'fruit': 'avocado'}

In [19]:
data = {
    'name':['Brenda','Leo','Noel','Brian'],
    'age':['28','6','34','21'],
    'matunda':['avocado','orange','melon','apple']
}

In [20]:
data

{'name': ['Brenda', 'Leo', 'Noel', 'Brian'],
 'age': ['28', '6', '34', '21'],
 'matunda': ['avocado', 'orange', 'melon', 'apple']}

In [21]:
import pandas as pd
df=pd.DataFrame(data)
df.head()

     name age  matunda
0  Brenda  28  avocado
1     Leo   6   orange
2    Noel  34    melon
3   Brian  21    apple

## Indexing
- positioning of an element
- slicing-uses indices to return a new list without modifying the original list

In [22]:
numbers =[10,20,30,40,50]

In [23]:
numbers[2]

30

In [24]:
numbers[3]

40

In [25]:
numbers[-2]

40

In [26]:
numbers[:4]

[10, 20, 30, 40]

In [27]:
numbers[1:]

[20, 30, 40, 50]

In [28]:
numbers[2:4]

[30, 40]

In [29]:
numbers.append(60)
numbers

[10, 20, 30, 40, 50, 60]

In [30]:
numbers[3:6]

[40, 50, 60]

In [31]:
## create a list of your three favorite books and print the second one
books=['The Alchemist','The Power of Now','You are Here']
print(books[1])

The Power of Now

In [32]:
#Write a tuple to store your screen resolution.
screen_resolution=(1400,1080)
print(screen_resolution)

(1400, 1080)

In [1]:
# make a dictionary that stores your name, age and favorite color.
about_me={
    'name':'Brenda',
    'age':24,
    'favorite_color':'sage'
}
about_me

{'name': 'Brenda', 'age': 24, 'favorite_color': 'sage'}

In [2]:
# write a decorator that prints "Before calling"  and "After calling" around any function you decorate.
def my_decorator(func):
    def wrapper():
        print("Before calling")
        func()
        print("After calling")
    return wrapper